
.wrapper{
	width: 350px;
	background: steelblue;
}
#main {
  margin: auto;
  margin-top: 10px;
  border-radius: 20px;
  background-color: lightblue;
  text-align: center;
  width: 350px;
  height: 400px;
}
/* 채팅 영역 */
#chatArea {
  height: 90%;
  width: 100%;
  overflow-y: auto;
}
.inputMsg{
  width: 300px;
}
.userMsg {
  float: left;
  width: 60%;
  margin: 10;
  background-color: lemonchiffon;
  border-radius: 5px;
  margin-top: 10px;
}
/* 상대방이 보낸 메시지 */
.botMsg {
  float: right;
  width: 60%;
  margin: 10;
  background-color: rgb(51, 19, 110);
  border-radius: 5px;
  margin-top: 10px;
  color : white;
}

